body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 20px;
}

ul {
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
}

h3 {
	text-align: center;
}

.addedInfo {
	list-style-type: none;
	padding: 0;
	text-align: center;
	border: 1px solid;
}

.columns {
	float: left;
	padding: 0;
	margin: 0;
	border: solid;
}

