body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ul {
  text-align: center;
}

h3 {
	text-align: center;
}

#addedInfo {
	text-align: center;
	margin-right: 30px;
	border-bottom: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
}

#teamName {
	float: left;
	border-left: solid;
	border-top: solid;
	border-bottom: solid;
}

#workouts {
	float: left;
	border: solid;
}
